.nav{
    background-color: blueviolet;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
}
.icons{
    display: none;
}
.mobile-menu{
    display: none;
}
.nav1{
    padding-left: 2em;
    padding-top: 1em;
    color:gold;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.nav2-menu > a{
    margin: 12px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.nav2-menu{
    padding-top: 1em;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.nav2-menu >a:hover{
    color: green;
}

@media screen and (max-width:700px) {
    .nav2-menu{
        display: none;
    }
    
    .mobile-menu{
      
       display: flex;
       flex-direction: column;
       width: 100%;
       left: 0;
      color: blue;
      
       top: -100vh;
       height: 80vh;
       justify-content: space-between;
       position: absolute;
       background-color: gray;
       text-align: center;
       
    }
    .socio-icons:hover{
        transform:scale(1.5);
        transition: 0.3s;
    }
    .socio-icons{
        display: flex;
        margin: 2rem;
        justify-content: space-between;
    }
    .mobile-menu button{
    
        margin: 1rem;
       
        width: 70%;
        
    }
    .mobile-nav > a:hover{
        color: red;
    }
    .mobile-nav > a{
        display: flex;
        flex-direction: column;
        
        color: wheat;
        padding: 0.8rem;
        border-bottom: 1px solid black;
        
       
       
            
    }
    .active{
        top: 80px;
    }
    .icons{
        display: block;
        margin-right: 2em;
        padding-top: 1em;
    }
    .nav2{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    
}